.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #1e1e3f, #1a1a2e);
  color: #e0e0e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  /* top: 0; */
  left: 0;
  z-index: 1000;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
} 

.sidebar-nav-item.active,
.sidebar-nav-item:hover {
  /* background-color: var(--background-color); */
  /* background: linear-gradient(135deg, #00d4ff, #ff00ff) !important; */
  /* background: linear-gradient(45deg, #ab47bc, #7e57c2); */
  background: linear-gradient(90deg, #18a463, #00d4ff) !important;
  /* background: radial-gradient(circle,rgba(66, 167, 207, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
  /* background: radial-gradient(circle,rgba(66, 167, 207, 1) 0%, rgba(28, 201, 103, 1) 50%, rgba(186, 176, 128, 1) 100%); */

  
}

.sidebar-nav-icon {
  margin-right: 15px;
}

.sidebar-footer {
  margin-top: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
}