.app-header {
  /* background-color: #006A64 !important; */
  background: linear-gradient(90deg, #18a463, #00d4ff) !important;
  color: white !important;
}

.header-title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header-logo {
  height: 30px;
  margin-right: 15px;
}

.header-right-logo {
  height: 40px;
}
